[submodule "notehub-service"]
	path = notehub-service
	url = https://github.com/Vacobi/NoteHub.git
    branch = master

[submodule "notehub-user-service"]
    path = user-service
    url = https://github.com/Vacobi/NoteHub-UserService.git
    branch = master

[submodule "notehub_front"]
	path = notehub_front
	url = https://github.com/chup1kq/notehub_front.git
	branch = main
